/* start animate styles */

@-webkit-keyframes fadeInUp {
  from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInUp {
  from { opacity: 0; -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInDown {
  from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInDown {
  from { opacity: 0; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInLeft {
  from { opacity: 0; -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@keyframes fadeInRight {
  from { opacity: 0; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
  to { opacity: 1; -webkit-transform: none; transform: none; }
}

@-webkit-keyframes zoomIn {
  from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  50% { opacity: 1; }
  to{ opacity: 1; }
}

@keyframes zoomIn {
  from { opacity: 0; -webkit-transform: scale3d(.3, .3, .3); transform: scale3d(.3, .3, .3); }
  50% { opacity: 1; }
  to{ opacity: 1; }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes slider_menu_item_after {
  from { width: 0%; opacity: 0; }
  to { width: 50%; opacity: 1; }
}

@keyframes slider_menu_item_after {
  from { width: 0%; opacity: 0; }
  to { width: 50%; opacity: 1; }
}

.main_section.animated * {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#main_slide.main_section:after { content: ''; position: absolute; top: 0; left: 0; z-index: 0; width: 100%; height: 100%; background: #222222; opacity: 1; -webkit-transition: all 0s; transition: all 0s; -webkit-transition-delay: .5s;  transition-delay: 0.5s; }
#main_slide.main_section.animated:after { opacity: 0; }

#index #header nav { opacity: 0; }
#index #header.animated nav { -webkit-animation-duration: 0.5s; animation-duration: 0.5s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards;-webkit-animation-delay: .5s;  animation-delay: .5s; -webkit-animation-name: fadeIn; animation-name: fadeIn; }

#main_slide.main_section h1 { opacity: 0; }
#main_slide.main_section.animated h1 { -webkit-animation-delay: 1s;  animation-delay: 1s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

#main_slide.main_section .button { opacity: 0; }
#main_slide.main_section.animated .button { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

#main_slide.main_section h4 { opacity: 0; }
#main_slide.main_section.animated h4 { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; -webkit-animation-delay: 2s;  animation-delay: 2s; }

#main_slide.main_section .activity .item { opacity: 0; }
#main_slide.main_section.animated .activity .item { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
#main_slide.main_section.animated .activity .item:nth-child(1) { -webkit-animation-delay: 2.5s;  animation-delay: 2.5s; }
#main_slide.main_section.animated .activity .item:nth-child(2) { -webkit-animation-delay: 2.8s;  animation-delay: 2.8s; }
#main_slide.main_section.animated .activity .item:nth-child(3) { -webkit-animation-delay: 3.1s;  animation-delay: 3.1s; }
#main_slide.main_section.animated .activity .item:nth-child(1) { -webkit-animation-delay: 3.4s;  animation-delay: 3.4s; }
#main_slide.main_section.animated .activity .item:nth-child(2) { -webkit-animation-delay: 3.7s;  animation-delay: 3.7s; }
#main_slide.main_section.animated .activity .item:nth-child(3) { -webkit-animation-delay: 4.0s;  animation-delay: 4.0s; }
//#main_slide.main_section.animated .activity .item { top: 0%; }


#advantages.main_section .advantages .adv_item { .num, .h3, p  { opacity: 0; } }
#advantages.main_section .advantages .adv_item:nth-child(1) .num { -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; }
#advantages.main_section .advantages .adv_item:nth-child(2) .num { -webkit-animation-delay: 0.7s;  animation-delay: 0.7s; }
#advantages.main_section .advantages .adv_item:nth-child(3) .num { -webkit-animation-delay: 0.9s;  animation-delay: 0.9s; }
#advantages.main_section .advantages .adv_item:nth-child(4) .num { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
#advantages.main_section .advantages .adv_item:nth-child(5) .num { -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; }
#advantages.main_section .advantages .adv_item:nth-child(6) .num { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
#advantages.main_section .advantages .adv_item:nth-child(7) .num { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; }
#advantages.main_section .advantages .adv_item:nth-child(8) .num { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; }
#advantages.main_section .advantages .adv_item:nth-child(1) .h3 { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
#advantages.main_section .advantages .adv_item:nth-child(2) .h3 { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; }
#advantages.main_section .advantages .adv_item:nth-child(3) .h3 { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; }
#advantages.main_section .advantages .adv_item:nth-child(4) .h3 { -webkit-animation-delay: 2.1s;  animation-delay: 2.1s; }
#advantages.main_section .advantages .adv_item:nth-child(5) .h3 { -webkit-animation-delay: 2.3s;  animation-delay: 2.3s; }
#advantages.main_section .advantages .adv_item:nth-child(6) .h3 { -webkit-animation-delay: 2.5s;  animation-delay: 2.5s; }
#advantages.main_section .advantages .adv_item:nth-child(7) .h3 { -webkit-animation-delay: 2.7s;  animation-delay: 2.7s; }
#advantages.main_section .advantages .adv_item:nth-child(8) .h3 { -webkit-animation-delay: 2.9s;  animation-delay: 2.9s; }
#advantages.main_section .advantages .adv_item:nth-child(1) p { -webkit-animation-delay: 2.5s;  animation-delay: 2.5s; }
#advantages.main_section .advantages .adv_item:nth-child(2) p { -webkit-animation-delay: 2.7s;  animation-delay: 2.7s; }
#advantages.main_section .advantages .adv_item:nth-child(3) p { -webkit-animation-delay: 2.9s;  animation-delay: 2.9s; }
#advantages.main_section .advantages .adv_item:nth-child(4) p { -webkit-animation-delay: 3.1s;  animation-delay: 3.1s; }
#advantages.main_section .advantages .adv_item:nth-child(5) p { -webkit-animation-delay: 3.3s;  animation-delay: 3.3s; }
#advantages.main_section .advantages .adv_item:nth-child(6) p { -webkit-animation-delay: 3.5s;  animation-delay: 3.5s; }
#advantages.main_section .advantages .adv_item:nth-child(7) p { -webkit-animation-delay: 3.7s;  animation-delay: 3.7s; }
#advantages.main_section .advantages .adv_item:nth-child(8) p { -webkit-animation-delay: 3.9s;  animation-delay: 3.9s; }
#advantages.main_section.animated .advantages .adv_item { .num, .h3 ,p  { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; } }

#production.main_section .prod_item .img img { opacity: 1; top: 148px; transform: scale(0); position: relative; -webkit-transition: all 0.5s; transition: all 0.5s; -webkit-transition-delay: 0.5s;  transition-delay: 0.5s; }
#production.main_section .prod_item:nth-child(1) .img img { -webkit-transition-delay: 0.5s;  transition-delay: 0.5s; }
#production.main_section .prod_item:nth-child(2) .img img { -webkit-transition-delay: 0.7s;  transition-delay: 0.7s; }
#production.main_section .prod_item:nth-child(3) .img img { -webkit-transition-delay: 0.9s;  transition-delay: 0.9s; }
#production.main_section .prod_item:nth-child(4) .img img { -webkit-transition-delay: 1.1s;  transition-delay: 1.1s; }
#production.main_section .prod_item:nth-child(5) .img img { -webkit-transition-delay: 1.3s;  transition-delay: 1.3s; }
#production.main_section .prod_item:nth-child(6) .img img { -webkit-transition-delay: 1.5s;  transition-delay: 1.5s; }
#production.main_section .prod_item:nth-child(7) .img img { -webkit-transition-delay: 1.7s;  transition-delay: 1.7s; }
#production.main_section .prod_item:nth-child(8) .img img { -webkit-transition-delay: 1.9s;  transition-delay: 1.9s; }
#production.main_section .prod_item:nth-child(9) .img img { -webkit-transition-delay: 2.1s;  transition-delay: 2.1s; }
#production.main_section .prod_item:nth-child(10) .img img { -webkit-transition-delay: 2.3s;  transition-delay: 2.3s; }
#production.main_section.animated .prod_item .img img { opacity: 1; top: 0px; transform: scale(1); }

#production.main_section .prod_item h4 { opacity: 0; }
#production.main_section .prod_item:nth-child(1) h4 { -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; }
#production.main_section .prod_item:nth-child(2) h4 { -webkit-animation-delay: 0.7s;  animation-delay: 0.7s; }
#production.main_section .prod_item:nth-child(3) h4 { -webkit-animation-delay: 0.9s;  animation-delay: 0.9s; }
#production.main_section .prod_item:nth-child(4) h4 { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
#production.main_section .prod_item:nth-child(5) h4 { -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; }
#production.main_section .prod_item:nth-child(6) h4 { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
#production.main_section .prod_item:nth-child(7) h4 { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; }
#production.main_section .prod_item:nth-child(8) h4 { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; }
#production.main_section .prod_item:nth-child(9) h4 { -webkit-animation-delay: 2.1s;  animation-delay: 2.1s; }
#production.main_section .prod_item:nth-child(10) h4 { -webkit-animation-delay: 2.3s;  animation-delay: 2.3s; }
#production.main_section.animated .prod_item h4 { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

#production.main_section .prod_item .more { opacity: 0; display: inline-block; }
#production.main_section .prod_item:nth-child(1) .more { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
#production.main_section .prod_item:nth-child(2) .more { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; }
#production.main_section .prod_item:nth-child(3) .more { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; }
#production.main_section .prod_item:nth-child(4) .more { -webkit-animation-delay: 2.1s;  animation-delay: 2.1s; }
#production.main_section .prod_item:nth-child(5) .more { -webkit-animation-delay: 2.3s;  animation-delay: 2.3s; }
#production.main_section .prod_item:nth-child(6) .more { -webkit-animation-delay: 2.5s;  animation-delay: 2.5s; }
#production.main_section .prod_item:nth-child(7) .more { -webkit-animation-delay: 2.7s;  animation-delay: 2.7s; }
#production.main_section .prod_item:nth-child(8) .more { -webkit-animation-delay: 2.9s;  animation-delay: 2.9s; }
#production.main_section .prod_item:nth-child(9) .more { -webkit-animation-delay: 3.1s;  animation-delay: 3.1s; }
#production.main_section .prod_item:nth-child(10) .more { -webkit-animation-delay: 3.3s;  animation-delay: 3.3s; }
#production.main_section.animated .prod_item .more { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }


 .slider_menu { opacity: 0; }
.animated .slider_menu { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

.slider_more .text { opacity: 0; }
.animated .slider_more .text { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }
@media screen and (min-width: 600px) {
  .slider_more { .slick-arrow, .slick-dots { left: 200%; -webkit-transition: all 1.0s; transition: all 1.0s; -webkit-transition-delay: 0.4s;  transition-delay: 0.4s; } }
  .animated .slider_more  { .slick-arrow, .slick-dots { left: 44.6%; } }
}
@media screen and (max-width: 1400px) {
  .animated .slider_more  { .slick-arrow, .slick-dots { left: 61.2%; } }
}
@media screen and (max-width: 800px) {
  .animated .slider_more  { .slick-arrow, .slick-dots { left: 52%; } }
}
@media screen and (max-width: 600px) {
  .animated .slider_more  { .slick-arrow, .slick-dots { left: 0%; } }
  .animated .slider_more.promotions_more  { .slick-arrow { left: 50px; } }
}
.slider_menu .slider_menu_item.slick-current:after { opacity: 0; -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
.animated .slider_menu .slider_menu_item.slick-current:after { -webkit-animation-name: slider_menu_item_after; animation-name: slider_menu_item_after; }


#main_form.main_section p { opacity: 0; -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; }
#main_form.main_section.animated p {  -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
#main_form.main_section .tel { opacity: 0; -webkit-animation-delay: 0.8s;  animation-delay: 0.8s; }
#main_form.main_section.animated .tel {  -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }
#main_form.main_section .button_block { opacity: 0; -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
#main_form.main_section.animated .button_block {  -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }



#services.main_section .preview_bl{ h3, p, .more { opacity: 0; }}
#services.main_section .preview_bl:nth-child(1) h3 { -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; }
#services.main_section .preview_bl:nth-child(2) h3 { -webkit-animation-delay: 0.7s;  animation-delay: 0.7s; }
#services.main_section .preview_bl:nth-child(3) h3 { -webkit-animation-delay: 0.9s;  animation-delay: 0.9s; }
#services.main_section .preview_bl:nth-child(4) h3 { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
#services.main_section .preview_bl:nth-child(5) h3 { -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; }
#services.main_section .preview_bl:nth-child(6) h3 { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
#services.main_section .preview_bl:nth-child(1) p { -webkit-animation-delay: 1.1s;  animation-delay: 1.1s; }
#services.main_section .preview_bl:nth-child(2) p { -webkit-animation-delay: 1.3s;  animation-delay: 1.3s; }
#services.main_section .preview_bl:nth-child(3) p { -webkit-animation-delay: 1.5s;  animation-delay: 1.5s; }
#services.main_section .preview_bl:nth-child(4) p { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; }
#services.main_section .preview_bl:nth-child(5) p { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; }
#services.main_section .preview_bl:nth-child(6) p { -webkit-animation-delay: 2.1s;  animation-delay: 2.1s; }
#services.main_section .preview_bl:nth-child(1) .more { -webkit-animation-delay: 1.7s;  animation-delay: 1.7s; }
#services.main_section .preview_bl:nth-child(2) .more { -webkit-animation-delay: 1.9s;  animation-delay: 1.9s; }
#services.main_section .preview_bl:nth-child(3) .more { -webkit-animation-delay: 2.1s;  animation-delay: 2.1s; }
#services.main_section .preview_bl:nth-child(4) .more { -webkit-animation-delay: 2.3s;  animation-delay: 2.3s; }
#services.main_section .preview_bl:nth-child(5) .more { -webkit-animation-delay: 2.5s;  animation-delay: 2.5s; }
#services.main_section .preview_bl:nth-child(6) .more { -webkit-animation-delay: 2.7s;  animation-delay: 2.7s; }
#services.main_section.animated .preview_bl { h3, p, .more { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }}



#about.main_section .bottom:before { width: 0px; right: calc(100% + 2028px); -webkit-transition: all 0.5s; transition: all 0.5s; -webkit-transition-delay: 0s;  transition-delay: 0s; }
#about.main_section.animated .bottom:before { width: 2000px; right: calc(100% + 28px); }
@media screen and (max-width: 1600px) {
  #about.main_section.animated .bottom:before { right: calc(100% + 25px); }
}

#about.main_section .bottom { .yellow,  .white { opacity: 0; -webkit-transition: all 1.0s; transition: all 1.0s; -webkit-transition-delay: 0.5s;  transition-delay: 0.5s; } }
#about.main_section.animated .bottom .yellow { opacity: 1; }
#about.main_section.animated .bottom .white { opacity: 0.47; }

#about.main_section .text:before { left: -1500px; -webkit-transition: all 1.0s; transition: all 1.0s; -webkit-transition-delay: 0.5s;  transition-delay: 0.5s; }
#about.main_section.animated .text:before { left: -136px; }
#about.main_section .text h2 { opacity: 0; }
#about.main_section.animated .text h2 { -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

#about.main_section .bottom:after { width: 0%; right: 66%; -webkit-transition: all .5s; transition: all 0.5s; -webkit-transition-delay: 1.0s;  transition-delay: 1.0s; }
#about.main_section.animated .bottom:after { width: 66%; right: 0; }
@media screen and (max-width: 1350px) {
  #about.main_section .bottom:after { width: 0%; right: 55%; }
  #about.main_section.animated .bottom:after { width: 55%; right: 0; }
}
@media screen and (max-width: 1100px) {
  #about.main_section .bottom:after { width: 0%; right: calc(100% - 260px); }
  #about.main_section.animated .bottom:after { width: calc(100% - 260px); right: 0; }
}

#about.main_section .facts:before { height: 0px; top: 528px; -webkit-transition: all 0.5s; transition: all 0.5s; -webkit-transition-delay: 1.5s;  transition-delay: 1.5s; }
#about.main_section.animated .facts:before { height: 514px; top: 14px; }
@media screen and (max-width: 1600px) {
  #about.main_section .facts:before { height: 0px; top: 483px; }
  #about.main_section.animated .facts:before { height: 483px; top: 14px; }
}

#about.main_section .facts li:before { width: 0; -webkit-transition: all .5s; transition: all 0.5s; -webkit-transition-delay: 2.0s;  transition-delay: 2.0s; }
#about.main_section.animated .facts li:before { width: 55px; }

#about.main_section .text p { opacity: 0; }
#about.main_section.animated .text p { -webkit-animation-delay: 2.0s;  animation-delay: 2.0s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }
#about.main_section .text .button { opacity: 0; }
#about.main_section.animated .text .button { -webkit-animation-delay: 2.5s;  animation-delay: 2.5s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

#about.main_section .facts li .diagram { opacity: 0; -webkit-animation-delay: 2.5s;  animation-delay: 2.5s; }
#about.main_section.animated .facts li .diagram { -webkit-animation-name: fadeIn; animation-name: fadeIn; }

#about.main_section .facts li p { opacity: 0; -webkit-animation-delay: 3.0s;  animation-delay: 3.0s; }
#about.main_section.animated .facts li p { -webkit-animation-name: fadeIn; animation-name: fadeIn; }

#about.main_section .facts li .diagram .diagram_col { height: 30px; -webkit-transition: all 1.0s; transition: all 1.0s; -webkit-transition-delay: 3.5s;  transition-delay: 3.5s; }
#about.main_section.animated .facts li:nth-child(1) .diagram .diagram_col { height: 104px; }
#about.main_section.animated .facts li:nth-child(2) .diagram .diagram_col { height: 84px; }
#about.main_section.animated .facts li:nth-child(3) .diagram .diagram_col { height: 116px; }



.content.main_section .text { opacity: 0; }
.content.main_section.animated .text { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; -webkit-animation-name: fadeInRight; animation-name: fadeInRight; }

.content.main_section .image { opacity: 0;}
.content.main_section.animated .image { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-delay: 0.5s;  animation-delay: 0.5s; -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }










/* end animate styles */