/* start catalog styles */ 

#catalog.main_section {
    .in {
	padding-top: 117px;
	padding-bottom: 40px;
    }
    
    .tabs_container {
	.tab_buttons {
	    margin-bottom: 24px;
	}
    }
}

.catalog {
    margin: 0 -30px 50px;
    padding: 0 10px;
    
    .slick-arrow {
	top: 270px;
    }
    
    .product_item {
	margin: 25px 20px 40px;
	height: 486px;
	position: relative;
	font-size: 16px;
	line-height: 30px;
	@include transition(all);
	
	.product_item_in {
	    height: 486px;
	    position: relative;
	    padding: 30px 40px;
	    box-sizing: border-box;
	    overflow: hidden;
	    @include transition(all); 
	    border: 1px solid #e7e7e7;
	    background: #fff;
	}
	
	&:before {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 2;
	    width: 100%;
	    height: 8px;
	    background: $color_a_hover;
	    opacity: 0;
	    @include transition(opacity);
	}
	
	.img {
	    text-align: center;
	    height: 260px;
	    line-height: 260px;
	    margin-bottom: 12px;
	    position: relative;
	    z-index: 2;
	    
	    
	    img {
		display: inline-block;
		width: 95%;
		max-width: 250px;
		
	    }
	    
	    .hover {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -19px 0 0 -100px;
		background-color: #fff;
		color: $color_a_hover;
		width: 200px;
		height: 38px;
		line-height: 38px;
		border: 1px dotted $color_a_hover;
		border-radius: 19px;
		opacity: 0;
		@include transition(all);
	    }
	}
	
	h5 {
	    margin-bottom: 9px;
	    position: relative;
	    z-index: 2;
	}
	
	.text {
	    text-align: center;
	    position: relative;
	    z-index: 2;
	}
	
	p {
	    margin-bottom: 6px;
	    display: flex;
	    justify-content: space-between;
	    text-align: left;
	    
	    .char, strong {
		display: inline-block;
	    }
	    
	    a {
		display: inline-block;
		font-weight: 600;
		margin: 8px 0 19px;
	    }
	}
	
	&:hover, &.slick-current {
	    //margin-bottom: 25px;
	    z-index: 3;
	    
	    &:before {
		opacity: 1;
	    }
	    
	    .product_item_in {
		height: 672px;
	    }
	    
	    .img {
	    
		.hover {
		    opacity: 1;
		}
	    }
	}
    }
}

.catalog.slider {
    .product_item {
	margin-bottom: 210px;
    }
}

.catalog_main {
    margin: 0 -18px;
    padding-bottom: 50px;
    display: flex;
    //justify-content: space-between;
    flex-wrap: wrap;
    //align-items: stretch;
    .product_item {
	width: calc(33.33% - 36px);
	margin: 0 18px 36px;
	height: 695px;
	
	&:before {
	    height: 14px;
	}
	
	.product_item_in {
	    height: 695px;
	    padding-bottom: 10px;
	    min-height: 100%; 
	    //&:before {
		//content: '';
		//position: absolute;
		//height: 100%;
		//width: 100%;
		//top: 0;
		//left: 0;
		//opacity: 0;
		//z-index: 2;
		//border-top: 13px solid $color_a_hover;
		//box-sizing: border-box;
		//background-color: #fff;
		//background-image: -webkit-linear-gradient(-90deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png); /* для webkit-браузеров */
		//background-image: -moz-linear-gradient(-90deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png); /* для firefox 3.6+ */
		//background-image: -o-linear-gradient(-90deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png); /* для Opera 11.10+ */
		//background-image: -ms-linear-gradient(-90deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png); /* для IE10+ */
		//background-image: linear-gradient(180deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png);
		//background-position: left top, 90% 90%;
		//background-size: auto, 60% auto;
		//background-repeat: no-repeat;
		//
		//@include transition(all);
	    //}
	}
	

	h5 {
	    margin-bottom: 0px;
	    height: 60px;
	    line-height: 25px;
	}
	
	a {
	    text-decoration: none;
	    
	    &:hover {
		text-decoration: underline;
	    }
	}
	.text {
	    padding-bottom: 27px;
	    
	    p {
		max-height: 90px;
		overflow: hidden;
	    }
	}
	.text.text_hover {
	    display: none;
	    font-weight: 600;
	    padding-bottom: 0px;
	    line-height: 25px;
	}
	
	.poll, .calculation {
	    position: relative;
	    z-index: 2;
	    display: inline-block;
	    vertical-align: middle;
	    margin-bottom: 20px;
	}
	
	.poll {
	    margin-right: 20px;
	}
	
	&:hover, &.slick-current {
	    //height: auto;
	    //margin-bottom: 25px;
	    
	    .product_item_in {
		height: auto;
		box-shadow: 0 2px 24px rgba(0, 0, 0, 0.19);
		&:before {
		    opacity: 1;
		}
	    }
	    
	    .text {
		display: none;
		text-align: left;
	    }
	    .text.text_hover {
		display: block;
	    }
	}
	
	
    } 
    .presentation {
	width: calc(33.33% - 36px);
	margin: 0 18px 36px;
	padding: 20px;
	height: 695px;
	text-align: center;
	background:  url(images/presentation_bg.jpg) no-repeat center / cover;
	border: 1px solid #e7e7e7;
	box-sizing: border-box;
	
	.text {
	    padding-top: 150px;
	}
	
	h3 {
	    margin-bottom: 25px;
	    letter-spacing: 0px;
	}
	
	.button {
	    margin-bottom: 55px;
	}
    }
}


@media screen and (max-width: 1400px) {
    #catalog.main_section {
	.in {
	    padding-top: 70px;
	    padding-bottom: 11px;
	}
    }
    
    .catalog {
	margin-bottom: 30px;
    }
    
    .catalog_main {
	.product_item {
	    font-size: 14px;
	    line-height: 25px;
	    
	    .product_item_in { 
		padding: 30px 20px 10px;
	    }
	    
	    .text {
		p {
		    max-height: 100px;
		}
	    }
	}
    }
}
@media screen and (max-width: 1000px) {
    
    .catalog_main {
	.product_item {
	    width: calc(50% - 36px);
	}
	
	.presentation {
	    width: calc(50% - 36px);
	}
    }
}
@media screen and (max-width: 800px) {
    #catalog.main_section {
	.in {
	    padding-top: 50px;
	}
    }
    .catalog {
	padding: 0 0px;
	margin: 0 -20px 30px;
    }
}

@media screen and (max-width: 600px) {
    #catalog.main_section {
	.in {
	    padding-top: 20px;
	    padding-bottom: 40px;
	}
    }
    .catalog {
	padding: 0 0px;
	margin: 0 0px 30px;
	
	.product_item {
	    margin: 0;
	    font-size: 14px;
	    line-height: 18px;
	    height: 550px;
	    .product_item_in {
		height: 550px;
		background: none;
		padding: 20px;
		border: 0;
	    }
	    
	    &:before {
		display: none;
	    }
	    
	    h5 {
		margin-bottom: 0;
	    }
	    
	    &:hover, &.slick-current {
		height: 550px;
		margin-bottom: 0;
	    }
	}
    }
    
    .catalog.slider {
	.product_item {
	    margin-bottom: 0px;
	}
    }
    
    .catalog_main {
	.product_item {
	    width: 100%;
	    margin-bottom: 30px;
	    height: 650px;
	    .product_item_in {
		border: 1px solid #e7e7e7;
		height: 650px;
	    }
	    
	    &:hover, &.slick-current {
		height: 650px;
		margin-bottom: 30px;
		.product_item_in {
		    height: auto;
		}
	    }
	}
	
	.presentation {
	    width: 100%;
	    height: auto;
	    margin: 0 0px 30px;
	    
	    .text {
		padding-top: 20px;
	    }
	    .button {
		margin-bottom: 30px;
	    }
	    .catalog_main .presentation h3 {
		margin-bottom: 15px;
	    }
	}
    }
}

/* end catalog styles */