/* start content styles */ 

#top {
    z-index: 1;
    background: #d3d1d2 no-repeat center / cover;
    margin-bottom: 5px;
    
    .in {
	padding-top: 105px;
	padding-bottom: 100px;
    }
    
    .text {
	max-width: 590px;
	min-height: 309px;
	width: 50%;
    }
    
    h1 {
	margin-bottom: 36px;
    }
    
    p {
	margin-bottom: 30px;
    }
}

.content {
    .in {
	padding-top: 51px;
	padding-bottom: 51px;
    }
    
    h2 {
	//margin-bottom: 32px;
	//clear: both;
    }
    
    .button {
	margin-bottom: 30px;
    }
}
#top + .content .in {
    padding-top: 105px;
}

.left, .right {
    max-width: calc(50% - 10px);
    
    img {
	display: inline-block;
	max-width: 100%;
    }
}
.left {
    float: left;
    margin: 0px 45px 60px 0;
}
.right {
    float: right;
    clear: right;
    margin: 0px 0 60px 45px;
}


.galery {
    //margin-right: -31px;
    margin-top: 39px;
    box-sizing: border-box;
    padding: 0 31px;
    
    .photo {
	height: 523px;
	
	img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	    vertical-align: middle;
	}
    }
}
.galery.left {
    margin-left: -31px;
}
.galery.right {
    margin-right: -31px;
}

.galery.left, .galery.right {
    width: calc(50% + 49px);
}
.galery + h2, .galery + h3 {
    margin-top: 47px;
    letter-spacing: 0;
}
.galery + h3 {
    margin-bottom: 26px;
}
#quote {
    background:  url(images/quote_bg.jpg) no-repeat center / cover;
    z-index: 2;
    .in {
	padding-top: 93px;
	padding-bottom: 35px;
    }
    .head {
	position: relative;
	margin-bottom: 1px;
	
	.ava {
	    display: inline-block;
	    vertical-align: middle;
	    width: 234px;
	    height: 234px;
	    overflow: hidden;
	    border: 1px solid rgba(217, 219, 220, 0.5);
	    border-radius: 119px;
	    margin-right: 20px;
	    margin-bottom: 30px;
	    
	    img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: middle;
	    }
	}
    }
    
    h2 {
	display: inline-block;
	vertical-align: middle;
	padding: 50px 50px;
	margin-top: 37px;
	background:  url(images/quote_h2_bg.png) no-repeat center / 100% auto;
    }
    
    blockquote {
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	
	&:before, &:after {
	    content: '';
	    position: absolute;
	    width: 47px;
	    height: 40px;
	    background:  url(images/quote.png) no-repeat center;
	}
	
	&:before {
	    top: 0;
	    left: -40px;
	}
	
	&:after {
	    right: -40px;
	    bottom: 61px;
	    transform: rotate(180deg);
	}
    }
}
#about_page #quote {
    margin-bottom: 119px;
}

aside.right {
    width: 39%;
    max-width: 500px;
    min-width: 400px;
}

.right_indent {
    margin-right: 43.66%;
    
    time {
	float: right;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 0 10px 25px;
	margin-top: 20px;
	background: url(images/icon_time.png) no-repeat left center;
    }
    
    .text_image + time {
	float: none;
    }
    
    .button, .more {
	vertical-align: middle;
	margin-bottom: 20px;
	display: inline-block;
	margin-right: 40px;
	margin-top: 20px;
    }
}

.text_image {
    position: relative;
    overflow: hidden;
    max-height: 450px;
    margin-bottom: 20px;
    img {
	width: 100%;
	
    }
}




#page404 {
    .content {
	background: #dde1e3 url(images/page404_bg.jpg) no-repeat center / cover;
	display: table-row;
	height: 100%;
	
	.in {
	    display: table-cell;
	    height: 100%;
	    vertical-align: middle;
	}
	
	.text {
	    max-width: $max-width;
	    margin: 0 auto;
	    //text-align: center;
	    padding-top: 250px;
	    padding-right: 30px;
	    height: 780px;
	    box-sizing: border-box;
	}
	
	h1 {
	    font-size: 109px;
	    line-height: 100px;
	    //height: 200px;
	    font-weight: 800;
	    //margin-bottom: 18px;
	    color: #000;
	    padding-right: 12px;
	    letter-spacing: 10px;
	}
	
	p {
	    margin-bottom: 30px;
	}
    }
}

@media screen and (max-width: 1600px) {
    #about_page #quote {
	margin-bottom: 40px;
    }
}
@media screen and (max-width: 1400px) {
    .content {
	.in {
	    padding-top: 45px;
	    padding-bottom: 45px;
	}
    }
    #top + .content .in {
	padding-top: 75px;
    }
    
    .left {
	margin: 0px 45px 60px 0;
    }
    .right {
	margin: 0px 0 60px 45px;
    }
    
    
    .galery {
	margin-top: 20px;
	
	.photo {
	    height: 400px;
	}
    }
    .galery.left, .galery.right {
	width: calc(50% + 20px);
    }
    
    #quote {
	.in {
	    padding-top: 70px;
	    padding-bottom: 35px;
	}
	.head {
	    .ava {
		width: 200px;
		height: 200px;
	    }
	}
	
	h2 {
	    padding: 35px;
	    margin-top: 37px;
	    margin-right: -20px;
	}
    }
    
    #about_page #quote {
	margin-bottom: 0px;
    }
    
    .right_indent {
	margin-right: 39%;
    }
}
@media screen and (max-width: 1000px) {
    .content {
	.in {
	    padding-top: 30px;
	    padding-bottom: 20px;
	}
    }
    #top + .content .in {
	padding-top: 50px;
    }
    .left {
	margin: 0px 45px 40px 0;
    }
    .right {
	margin: 0px 0 40px 45px;
    }
    
    
    .galery {
	margin-top: 20px;
	padding: 0 24px;
	
	.photo {
	    height: 300px;
	}
    }
    
    #quote {
	.in {
	    padding-top: 50px;
	    padding-bottom: 35px;
	}
	.head {
	    .ava {
		width: 150px;
		height: 150px;
	    }
	}
	
	h2 {
	    max-width: 65%;
	    background: none;
	    padding: 0;
	    //margin-top: 0;
	    margin-right: 0;
	}
	
	blockquote {
	    padding: 20px 10px;
	    //margin: 0 10px;
	    
	    &:before, &:after {
		width: 37px;
		height: 30px;
		background-size: 100% auto;
	    }
	    
	    &:before {
		left: -35px;
	    }
	    
	    &:after {
		right: -35px;
		bottom: 40px;
	    }
	}
    }
    
}

@media screen and (max-width: 800px) {
    #top + .content .in {
	padding-top: 30px;
    }
    .left {
	margin: 0px 25px 20px 0;
    }
    .right {
	margin: 0px 0 20px 25px;
    }
    
    
    .galery {
	float: none;
	//margin: 0 auto 30px;
	width: auto;
	
	.photo {
	    height: 300px;
	}
	
	&.left, &.right {
	    margin: 0 auto 30px;
	    max-width: 500px;
	}
    }
    
    .galery + h2, .galery + h3 {
	margin-top: 30px;
	margin-bottom: 25px;
    }
}

@media screen and (max-width: 600px) {
    
    #top {
	z-index: 1;
	//background-position: left center;
	
	.in {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	
	.text {
	    width: 55%;
	    min-height: inherit;
	}
	
	h1 {
	    margin-bottom: 20px;
	}
	
	p {
	    margin-bottom: 20px;
	}
    }
    #top + .content .in {
	padding-top: 20px;
    }
    .left, .right {
	margin: 0px 0 30px;
	float: none;
    }
    
    .galery {
	padding: 0 18px;
	margin-bottom: 20px;
	
	.photo {
	    height: 250px;
	}
    }
    .galery + h2, .galery + h3 {
	margin-top: 20px;
	margin-bottom: 15px;
    }
    
    #quote {
	.in {
	    padding-top: 30px;
	    padding-bottom: 35px;
	}
	.head {
	    .ava {
		width: 100px;
		height: 100px;
		margin-bottom: 10px;
		margin-right: 10px;
	    }
	}
	
	h2 {
	    max-width: 55%;
	    margin-top: 0px;
	    margin-bottom: 20px;
	}
	
	blockquote {
	    padding: 10px 10px;
	    margin: 0 10px;
	    
	    &:before, &:after {
		width: 27px;
		height: 20px;
	    }
	    
	    &:before {
		left: -15px;
	    }
	    
	    &:after {
		right: -15px;
		bottom: 20px;
	    }
	}
    }
}

@media screen and (max-width: 450px) {
    
    #top {
	background-position: left center;
	.in {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	
	.text {
	    width: auto;
	}
    }
    
    .galery {
	.photo {
	    height: 180px;
	}
    }
}

/* end content styles */