/* start contacts styles */ 

.maps_container {
    
    .map {
        width: 100%;
        height: 590px;
    }
}

.content {
    .cont {
        > div {
            padding-left: 27px;
            background: left top no-repeat;
            margin-bottom: 15px;
        }
        
        .tel {
            background-image: url(images/icon_tel_red.png);
        }
        .address {
            background-image: url(images/icon_map_red2.png);
        }
        .mail {
            background-image: url(images/icon_letter_red.png);
        }
        .work_time {
            background-image: url(images/icon_work_time_red.png);
        }
        
    }
    
    h1 + .cont {
        margin-bottom: 45px;
        font-weight: 600;
        > div {
            display: inline-block;
            margin-right: 60px;
            padding-left: 39px;
            background: left 5px no-repeat;
        }
        
        a {
            text-decoration: none;
        }
    }
}

.right_indent.maps_container {
    float: left;
    margin-right: 0;
    width: 58%;
    
    .map_info {
        position: absolute;
        top: 0;
        left: 0;
        width: 480px;
        max-width: 100%;
        background: #fff;
        padding: 35px 35px 20px;
        box-sizing: border-box;
        box-shadow: 0 2px 24px rgba(0, 0, 0, 0.19);
        line-height: 24px;
        
        h4 {
            margin-bottom: 0;
        }
        p {
            //margin-bottom: 5px;
        }
        a {
            text-decoration: none;
            
            &.map_link {
                text-decoration: underline;
                font-weight: 600;
            }
        }
        
        .small {
            font-weight: 300;
            font-size: 14px;
        }
        
        .cities {
            column-count: 2;
            column-gap: 40px;
            margin-bottom: 10px;
            
            li {
                padding: 0;
                &:before {
                    display: none;
                }
            }
        }
    }
    
}

.right_indent.maps_container + aside.right {
    width: 37%;
    .form_block {
        padding-top: 0;
    }
}


@media screen and (max-width: 1350px) {
    .right_indent.maps_container {
        float: none;
        width: 100%;
        margin-bottom: 70px;
    }
    .right_indent.maps_container + aside.right {
        //width: 100%;
        float: none;
    }
}
@media screen and (max-width: 1000px) {
    .right_indent.maps_container + aside.right {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 600px) {
    
}

/* end contacts styles */