/* start main screen styles */ 
@keyframes lightning1 { 
0% { opacity: 0; }
10% { opacity: 1; }
20% { opacity: 0; }
30% { opacity: 0; }
40% { opacity: 0; }
50% { opacity: 1; }
60% { opacity: 0; }
70% { opacity: 0; }
80% { opacity: 0; }
90% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes lightning2 { 
0% { opacity: 0; }
10% { opacity: 0; }
20% { opacity: 0; }
30% { opacity: 1; }
40% { opacity: 0; }
50% { opacity: 1; }
60% { opacity: 0; }
70% { opacity: 0; }
80% { opacity: 0; }
90% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes lightning3 { 
0% { opacity: 1; }
10% { opacity: 1; }
20% { opacity: 0; }
30% { opacity: 0; }
40% { opacity: 0; }
50% { opacity: 1; }
60% { opacity: 0; }
70% { opacity: 0; }
80% { opacity: 0; }
90% { opacity: 0; }
100% { opacity: 0; }
}
#main_screen {
    overflow: visible;
    background: #201f23 url(images/main_screen_bg.jpg) no-repeat center / cover;
    //margin-bottom: 94px;
    //height: 100%;
    height: 941px;
    margin-top: -125px;
    @include transition(all);
    //clear: both;
    
    .in {
	height: 100%;
	//padding-top: 194px;
	box-sizing: border-box;
    }
    
    .letters {
	position: absolute;
	width: 614/1546*100%;
	//height: 520px;
	top: 215/941*100%;
	left: 50% + 299/1546*100%;
	text-align: center;
	@include transition(all);
	
	img {
	    max-width: 100%;
	}
    }
    
    .image {
	position: absolute;
	width: 614/1546*100%;
	//height: 520px;
	top: 312/941*100%;
	left: 23px;
	@include transition(all);
	
	img {
	    max-width: 100%;
	}
	
	.lightning1, .lightning2, .lightning3 {
	    position: absolute;
	    z-index: 2;
	    opacity: 0;
	    background: no-repeat center / 100% auto;
	}
	.lightning1 {
	    top: 88px;
	    left: 260px;
	    width: 328px;
	    height: 194px;
	    background-image: url(images/lightning1.png);
	    animation: lightning1  2.5s infinite ease 0s;
	}
	.lightning2 {
	    top: -68px;
	    left: 339px;
	    width: 327px;
	    height: 324px;
	    background-image: url(images/lightning2.png);
	    animation: lightning2  3.5s infinite ease 1s;
	}
	.lightning3 {
	    top: -128px;
	    left: 87px;
	    width: 389px;
	    height: 323px;
	    background-image: url(images/lightning3.png);
	    animation: lightning3  5.5s infinite ease 2s;
	}
    }
    .text {
	color: #fff;
	//width: 45%;
	position: relative;
	padding-bottom: 1px;
	z-index: 2;
	top: 54.8%;
	//height: 100% - 271/954*100%;
	margin-left: calc(679/1546*100%);
	@include transition(all);
    }
    h2 {
	letter-spacing: 0.5px;
	line-height: 38px;
	color: #fff;           
	max-width: 1000px;
	margin-bottom: 20px;
	//@include transition_slow(all);
    }
    
    .button {
	min-width: 173px;
	margin-bottom: 72px;
    }
    
    p {
	//letter-spacing: 0.5px;
	max-width: 600px;
	margin-bottom: 20px;
    }
    
}
@keyframes move { 
0% { bottom: 65px; }
50% { bottom: 50px; }
100% { bottom: 65px; }
}
#go {
    position: absolute;
    bottom: 65px;
    left: 50%;
    margin-left: -8px;
    border-top: 8px solid $color_a_hover;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    animation: move  1.5s infinite ease-in-out;
    
    &:before {
	content: "";
	position: absolute;
	left: 50%;
	width: 2px;
	height: 42px;
	bottom: 8px;
	background-color: $color_a_hover;
    }
}

#vysokovoltnyye_transformatory #main_screen {
    background-image: url(images/main_screen_bg2.jpg);
    
    .image {
	left: 178px;
	top: 260/941*100%;
    }
    
    .text {
	top: 56.2%;
    }
    
    .letters {
	left: 68.3%;
    }
    
    .button {
	margin-right: 54px
    }
    
    .poll {
	display: inline-block;
	vertical-align: top;
	//margin-left: 30px;
	padding-top: 5px;
	
	a {
	    color: #fff;
	    
	    &:hover {
		color: $color_a_hover;
	    }
	}
    }
}





@media screen and (max-width: 1600px) {
    #main_screen { 
	height: 850px;
	
	.letters {
	    width: 524/1546*100%;
	    top: 270/941*100%;
	    left: 60%;
	}
    }
    
    #vysokovoltnyye_transformatory #main_screen {
	.image {
	    left: 100px;
	}
	
	.text {
	    top: 50%;
	}
	
	.letters {
	    left: 60%;
	}
    }
}
@media screen and (max-width: 1400px) {
    #main_screen {
	margin-top: -116px;
	height: 770px;
	
	.letters {
	    width: 524/1546*100%;
	    top: 270/941*100%;
	    left: 59.47%;
	}
    
	.image {
	    width: 546/1546*100%;
	    top: 265/941*100%;
	    left: 120px;
	}
	.text {
	    top: 37.7%;
	    margin-left: 50%;
	}
	h2 {
	    line-height: 48px;
	    margin-bottom: 12px; 
	}
	
	p{
	    line-height: 30px;
	    max-width: 500px;
	}
	
	
    }
    
     #vysokovoltnyye_transformatory #main_screen {
	height: 748px;
	.image {
	    left: 150px;
	    top: 25%;
	}
	
	.text {
	    top: 39%;
	    margin-left: 53%;
	}
	
	.letters {
	    left: 57%;
	    top: 23.6%;
	}
    }
}

@media screen and (max-width: 1100px) {
    #main_screen {
	margin-top: -70px;
	height: 550px;
	
	.letters {
	    width: calc(524/1546*100%);
	    top: calc(270/941*100%);
	    left: 59.47%;
	}
    
	.image {
	    width: 35%;
	    top: calc(265/941*100%);
	    left: 40px;
	}
	.text {
	    top: 37.7%;
	    margin-left: 40%;
	}
	h2 {
	    line-height: 35px;
	    font-size: 25px;   
	}
    }
    
    #vysokovoltnyye_transformatory #main_screen {
	height: 550px;
	.image {
	    left: 50px;
	}
	
	.text {
	    top: 30%;
	    margin-left: 43%;
	}
    }
    
    #go {
	display: none;
    }
}


@media screen and (max-width: 800px) {
    #main_screen {
	margin-top: -70px;
	height: 450px;
	
	.letters {
	    width: 41%;
	    top: 21%;
	    left: 50%;
	}
    
	.image {
	    display: none;
	}
	.text {
	    top: 17.7%;
	    margin-left: 0%;
	    max-width: 500px;
	    clear: both;
	}
	h2 {
	    line-height: 35px;
	    font-size: 25px;   
	}
    }
    
    #vysokovoltnyye_transformatory #main_screen {
	height: 450px;
	.letters {
	    width: 41%;
	    top: 21%;
	    left: 50%;
	}
	
	.text {
	    top: 17.7%;
	    margin-left: 0%;
	}
    }
}
@media screen and (max-width: 600px) {
    #main_screen {
	margin-top: -50px;
	height: 350px;
	
	.letters {
	    width: 55%;
	    top: 11%;
	    left: 42%;
	}
	.text {
	    top: 7.7%;
	    width: 65%;
	}
	h2 {
	    line-height: 32px;
	    font-size: 20px;   
	}
	p{
	    line-height: 25px;
	}
	.button {
	    margin-bottom: 30px;
	}
    }
    #vysokovoltnyye_transformatory #main_screen {
	height: 350px;
	
	.text {
	    width: auto;
	    top: 10%;
	}
	.button {
	    margin-bottom: 15px;
	    margin-right: 20px;
	}
    }
}

@media screen and (max-width: 450px) {
    #main_screen {
	height: 270px;
	
	.letters {
	    width: 175px;
	    top: 21%;
	    left: 35%;
	}
    
	.text {
	    top: 13.7%;
	    max-width: 300px;
	    width: 100%;
	}
	h2 {
	    line-height: 28px;
	    font-size: 20px;   
	}
	p {
	    display: none;
	}
	.button {
	    min-width: 123px;
	    margin-bottom: 20px;
	}
    }
    
    #vysokovoltnyye_transformatory #main_screen {
	height: 270px;
    }
}

/* end main screen styles */