/* start vt_sections styles */ 

#vt_sections {
    z-index: 1;
    //background: url(images/sections_bg.jpg) no-repeat center bottom / 100% auto;
    margin-bottom: -175px;
    
    .in {
	padding-top: 112px;
	padding-bottom: 290px;
    }
    
    h1, h2 {
	text-align: center;
	margin-bottom: 47px;
    }
}

.sections_block {
    position: relative;
    
    .sections_item {
	position: relative;
	float: left;
	width: 33.33%;
	height: 525px;
	box-sizing: border-box;
	border: 1px solid rgba(225, 225, 225, 0.42);
	background-color: rgba(255, 255, 255, 0.42);
	@include transition(all);
	
	&:before {
	    content: '';
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    top: 0;
	    left: 0;
	    opacity: 0;
	    z-index: 2;
	    border-top: 13px solid $color_a_hover;
	    box-sizing: border-box;
	    background-color: #fff;
	background-image: -webkit-linear-gradient(-90deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png); /* для webkit-браузеров */
	background-image: -moz-linear-gradient(-90deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png); /* для firefox 3.6+ */
	background-image: -o-linear-gradient(-90deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png); /* для Opera 11.10+ */
	background-image: -ms-linear-gradient(-90deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png); /* для IE10+ */
	background-image: linear-gradient(180deg, #e2e2e2 0%, transparent 100%), url(images/sections_item_hover.png);
	background-position: left top, 90% 90%;
	background-size: auto, 60% auto;
	background-repeat: no-repeat;
	
	@include transition(all);
	}
	
	a {
	    text-decoration: none;
	    
	    &:hover {
		color: #000;
	    }
	}
	
	.img {
	    position: relative;
	    text-align: center;
	    padding-top: 30px;
	    line-height: 340px;
	      
	    img {
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		max-width: 253px;
	    }
	}
	
	.text {
	    box-sizing: border-box;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    z-index: 3;
	    padding: 20px 12% 52px 13%;
	    width: 100%;
	    @include transition(all);
	    
	    p {
		height: 0;
		margin-bottom: 0;
		overflow: hidden;
		@include transition(all);
	    }
	    
	    h3 {
		margin-bottom: 5px;
	    }
	}
	
	.button {
	    padding: 0;
	    text-decoration: underline;
	    background: none;
	    color: #000;
	    font-size: 14px;
	}
	
	&:hover {
	    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.16);
	    &:before {
		opacity: 1;
	    }
	    
	    .text {
		padding: 20px 12% 115px 13%;
		//height: 100%;
		
		h3 {
		    margin-bottom: 30px;
		}
		
		p {
		    height: 120px;
		    margin-bottom: 35px;
		}
	    }
	    
	    .button {
		padding: 0 28px;
		text-decoration: none;
		background: $color_a_hover;
		color: #fff;
	    }
	}
	
    }
}

@media screen and (max-width: 1600px) {
    .sections_block {
	.sections_item {
	    
	    .img {
		padding-top: 20px;
	    }
	    
	    .text {
		padding: 20px 10% 30px;
	    }
	    
	    &:hover {
		
		.text {
		    padding-bottom: 40px;
		}
	    }
	}
    }
}
@media screen and (max-width: 1400px) {
    #vt_sections {
	margin-bottom: -100px;
	.in {
	    padding-top: 77px;
	    padding-bottom: 169px;
	}
	h1, h2 {
	    margin-bottom: 42px;
	}
	
    }
    
    .sections_block {
	.sections_item {
	    height: 492px;
	    
	    &:before {
		border-top-width: 8px;
	    }
	    
	    .img {
		line-height: 280px;
	    }
	    
	    &:hover {
		
		.text {
		    padding-bottom: 40px;
		    
		    h3 {
			margin-bottom: 25px;
		    }
		    
		    p {
			height: 120px;
			margin-bottom: 25px;
		    }
		}
	    }
	}
    }
}
@media screen and (max-width: 1000px) {
    #vt_sections {
	display: none;
	
    }
}

/* end clients styles */